body {
    background-color: #E2DED0;
    margin: 0;
    min-width: 608px;
}

/*-----------------------------------------*/

#gridContainer {
    display: grid;
    font-family: 'VT323', monospace;
    grid-template:
        "navbar navbar navbar"
        "zombies canvas towers" 
        "devs devs devs" / 1fr 1fr 1fr
}

@media only screen and (max-width: 1400px) {
    #gridContainer {
        display: grid;
        grid-template:
            "navbar navbar"
            "canvas canvas"
            "zombies towers" 
            "devs devs" / 1fr 1fr
    }
}

/*-----------------------------------------*/

#navBar {
    grid-area: navbar;
    background: #241e1e;
    height: 80px;
    margin: 0px;
    border-bottom: 2px solid #E0A59E;
    opacity: 0.95;
}

#navBar img {
    position: relative;
    top: 20px;
    left: 30px;
}

#navBar span {
    position: relative;
    top: 10px;
    padding-left: 60px;
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
    font-family: 'VT323', monospace;
}

/*-----------------------------------------*/

canvas {
    grid-area: canvas;
    min-width: 800px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #E0A59E;
}

/*-----------------------------------------*/

#zombies {
    grid-area: zombies;
    padding: 25px;
    text-align: right;
    position: relative;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;
}

#WalkerText {
    position: absolute;
    top: 120px;
    right: 140px;
}

#RunnerText {
    position: absolute;
    top: 235px;
    right: 140px;
}

#TankText {
    position: absolute;
    top: 345px;
    right: 160px;
}

#SpitterText {
    position: absolute;
    top: 460px;
    right: 135px;
}

/*-----------------------------------------*/

#towers {
    grid-area: towers;
    text-align: left;
    padding: 25px;
}

/*-----------------------------------------*/

#developers {
    grid-area: devs;
}

/*-----------------------------------------*/

#footer {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #E0A59E;
}